.offer{
    padding-top: 167px;
    background-color: #EFEFF2;
}

.offer__form{
    width: 648px;
    background-image: url(../image/gradient1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top 0 left 0;


}



.offer__months::after {
    content: '';
    display: flex;
    width: 84px;
    height: 4px;
    margin-top: 8px; /* Расстояние от текста */
    background-color: #504DEE;
}

.offer__time,
.offer__button{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #19191C;
}

.offer_work,
.offer__description{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;

}

.offer_work{
    margin-top: 32px;
    margin-bottom: 2px;
}

.offer__title{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
}

.offer__description{
    margin: 50px 0;

}

.offer__button{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    width: 140px;
    padding: 16px 37px;
    background: #504DEE;
}

.offer__sale{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
    margin-top: 110px;
    margin-bottom: 8px;

}

.offer__date{
    margin-bottom: 195px;
}


.offer__list__program{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #19191C;
    padding: 16px 36px;
    border: solid #19191C 1px;
    padding: 16px 36px;
}




.learn{
    padding-top: 168px;
}

.learn-block-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
}

/* .learn-text{
    margin-right: 141px;
} */

.learn-title-profession,
.learn-counter-number,
.discover-prices{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
}

.learn-counter-description::after{
    content: '';
    display: flex;
    width: 254px;
    height: 4px;
    margin-top: 21px; /* Расстояние от текста */
    background-color: #19191C;
}

.learn-title-profession{
    margin-bottom: 28px;
}



.learn-description,
.learn-counter-description-content{
    color: #6D6D77;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;


}

.learn-description{
    width: 588px;
}

.learn-counter-description{
    margin-bottom: 18px;
}

.learn-counters{
    display: flex;
}

.learn-counter_salary{
    margin-right: 103px;
}


.learn-description_blocks{
    display: flex;
    justify-content: space-between;
}

.learn-portfolio{
    padding: 70px 50px;
}

.learn-portfolio-block1{
    background: #DEEFE4;

}

.learn-portfolio-block2{
    background: #F3F3D7;

}

.learn-portfolio-block3{
    background: #EFDEEE;

}

.learn-portfolio-title{
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    color: #19191C;
    margin-bottom: 12px;
}

.learn-portfolio-title::after{
    content: '';
    display: flex;
    width: 371px;
    height: 4px;
    margin-top: 28px; /* Расстояние от текста */
    background-color: #19191C;
}

.learn-portfolio-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;
    width: 368px;
}

.price-blocks{
    margin: 170px 0;
}

.discover-prices{
    margin-bottom: 100px;
}

.price-block{
    height: 732px;
    width: 467px;
    padding: 48px 60px;
    display: flex;
    flex-direction: column;
}

.price-block:not(:nth-child(2)){
    background: #DEEFE4;
    color: #19191C;


}

.price-block:nth-child(2){
    background: #504DEE;
    color: #ffffff;
}

.price-blocks-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.price-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 47px;
}

.price-block-list > li{
    list-style-type: square;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

}

.price-block-list > li:not(:last-child) {
    padding-bottom: 22px;
}

.base-price{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 3px;
    
}

.price-block-end{
    margin-top: auto;
}

.discounted-price{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}

.price-button-choose{
    display: inline-block;  
    padding: 16px 36px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 18px;
}

.price-button-choose-grayscale{
    background-color: #19191C;
    color: #fff;
}

.price-button-choose-white{
    background: #FBFBFC;
    color: #504DEE;
}
