@import url(./reset.css);
@import url(./header.css);
@import url(./offer.css);
@import url(./learn.css);
@import url(./price.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font: 400;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}
@media (max-width:1440px) {
    .wrapper{
        width: auto;
    }
}